[% INCLUDE view/include/head.html %]
<h1>記事作成フォーム</h1>
<p>
  （[% user_name %]でログイン中）
</p>
<p>
<form action="/cms_write/" method="POST" accept-charset="UTF-8" class="pure-form pure-form-stacked">
  <fieldset>
    <label for="title">タイトル</label>
    <input type="text" name="title" class="pure-input-3-4">
    <label for="body">本文</label>
    <textarea name="body" class="pure-input-3-4" rows="15"></textarea>
    <input type="submit" value="enter" class="pure-button pure-input-3-4 pure-button-primary">
  </fieldset>
</form>
</p>
<hr>
<a href="/">return index</a>
[% INCLUDE view/include/foot.html %]
